# Base de datos local
*.db
instance/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
env/
*.egg-info/

# Archivos generados
generados/
temp_sin_qr.pdf
qr_overlay.pdf

# Secretos
.env

# IDEs
.vscode/
.idea/
*.swp
*.DS_Store
